@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

body {
  color: #fafafa;
  background-color: #191919;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container {
    padding: 0 0.5rem;
  }
}

section {
  padding: 5rem 0;
}

a {
  color: #fafafa;
  text-decoration: none;
}

.primary_btn {
  display: inline-block;
  padding: 10px 2rem;
  border-radius: 30px;
  font-weight: 500;
  border: 2px solid #caff33;
  background-color: #caff33;
  color: #191919 !important;
  transition: ease 0.4s;
}
.primary_btn:hover {
  background-color: #191919;
  color: #caff33 !important;
}

.secondary_btn {
  display: inline-block;
  padding: 14px 1.2rem;
  background-color: #1c1c1c;
  border: 1px solid rgba(197, 197, 197, 0.1);
  font-size: 0.9rem;
  border-radius: 30px;
  transition: ease 0.4s;
  color: #fafafa;
}
.secondary_btn:hover {
  background-color: #caff33;
  color: #191919;
  border-color: #caff33;
}

.logo {
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
  transition: ease 0.4s;
}
.logo span {
  color: #caff33;
}
.logo:hover {
  color: #caff33;
}

.heading {
  font-weight: 500;
  margin: 1.6rem 0;
  font-size: clamp(1.45rem, 3vw, 3.4rem);
}
.heading span {
  color: #caff33;
}

.text {
  font-size: 0.9rem;
  color: #bfbfbf;
  line-height: 23px;
  font-weight: normal;
  margin-bottom: 1.6rem;
}

header .container {
  position: relative;
}

header .navigation {
  margin: 1rem 0;
  z-index: 1000;
}
header .navigation .desktop_navigation, header .navigation .mobile_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.85rem 1.2rem;
  background-color: #1c1c1c;
  border-radius: 60px;
  border: 1px solid rgba(197, 197, 197, 0.1);
}
header .navigation .desktop_navigation .logo_container, header .navigation .mobile_navigation .logo_container {
  display: flex;
  align-items: center;
}
header .navigation .desktop_navigation .logo_container img, header .navigation .mobile_navigation .logo_container img {
  width: 45px;
  margin-right: 5px;
}
header .navigation .desktop_navigation .nav_links a, header .navigation .mobile_navigation .nav_links a {
  display: inline-block;
  margin: 0 1rem;
  transition: ease 0.4s;
  position: relative;
  padding-bottom: 5px;
  margin-top: 10px;
  overflow: hidden;
}
header .navigation .desktop_navigation .nav_links a:hover, header .navigation .mobile_navigation .nav_links a:hover {
  color: #caff33;
}
header .navigation .desktop_navigation .nav_links a:hover::after, header .navigation .mobile_navigation .nav_links a:hover::after {
  left: 0%;
}
header .navigation .desktop_navigation .nav_links a::after, header .navigation .mobile_navigation .nav_links a::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  top: 90%;
  left: -100%;
  width: 74%;
  height: 2px;
  transition: inherit;
  background-color: #caff33;
}
header .navigation .desktop_navigation .nav_links .active, header .navigation .mobile_navigation .nav_links .active {
  color: #caff33;
}
header .navigation .desktop_navigation .nav_links .active::after, header .navigation .mobile_navigation .nav_links .active::after {
  left: 0% !important;
}
header .navigation .desktop_navigation .nav_btn_container a:nth-child(1), header .navigation .mobile_navigation .nav_btn_container a:nth-child(1) {
  margin-right: 10px;
  transition: ease 0.4s;
}
header .navigation .desktop_navigation .nav_btn_container a:nth-child(1):hover, header .navigation .mobile_navigation .nav_btn_container a:nth-child(1):hover {
  color: #caff33;
}
header .navigation .mobile_navigation {
  display: none;
}
@media (max-width: 800px) {
  header .navigation .desktop_navigation .nav_links a {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 0.95rem;
  }
}
@media (max-width: 700px) {
  header .navigation .desktop_navigation {
    display: none;
  }
  header .navigation .mobile_navigation {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6rem 1.2rem;
  }
  header .navigation .mobile_navigation .logo_container img {
    width: 30px;
  }
  header .navigation .mobile_navigation .logo_container .logo {
    font-size: 1.2rem;
  }
  header .navigation .mobile_navigation .menu_container span {
    font-size: 1.6rem;
    transform: scaleX(-1);
    color: #191919;
    background-color: #caff33;
    padding: 4px 15px;
    border-radius: 30px;
    font-weight: 400;
    border: 2px solid #caff33;
    transition: ease 0.4s;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  header .navigation .mobile_navigation .menu_open {
    color: #caff33 !important;
    background-color: #1c1c1c !important;
  }
  header .navigation .mobile_navigation .open_mobile_nav {
    display: flex !important;
  }
  header .navigation .mobile_navigation .mobile_nav_links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background-color: #1c1c1c;
    border: 1px solid rgba(197, 197, 197, 0.1);
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 20px;
  }
  header .navigation .mobile_navigation .mobile_nav_links a:not(:last-child) {
    transition: ease 0.4s;
    position: relative;
    padding-bottom: 5px;
    overflow: hidden;
  }
  header .navigation .mobile_navigation .mobile_nav_links a:not(:last-child):hover {
    color: #caff33;
  }
  header .navigation .mobile_navigation .mobile_nav_links a:not(:last-child):hover::after {
    left: 0%;
  }
  header .navigation .mobile_navigation .mobile_nav_links a::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    top: 90%;
    left: -100%;
    width: 74%;
    height: 2px;
    transition: inherit;
    background-color: #caff33;
  }
  header .navigation .mobile_navigation .mobile_nav_links .active {
    color: #caff33;
  }
  header .navigation .mobile_navigation .mobile_nav_links .active::after {
    left: 0% !important;
  }
  header .navigation .mobile_navigation .mobile_nav_links a:not(:last-child) {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1.6rem;
  }
}

.sticky {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto !important;
}
@media (max-width: 1440px) {
  .sticky {
    padding: 0 0.5rem;
  }
}

.fixed {
  position: fixed;
}

header {
  position: relative;
}
header .pattern {
  position: absolute;
  top: 0%;
  left: -3%;
  z-index: -100;
}
@media (max-width: 800px) {
  header .pattern {
    width: 350px;
  }
  header .pattern img {
    width: 100%;
  }
}

.heading_2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.heading_2 span {
  color: #caff33;
}

.head_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  .head_container {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
.head_container .left_container {
  width: 100%;
  max-width: 1000px;
}
.head_container .right_container .tab_group {
  border: 1px solid rgba(197, 197, 197, 0.1);
  border-radius: 50px;
  background-color: #1c1c1c;
  padding: 10px 0.9rem;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  position: relative;
}
.head_container .right_container .tab_group button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #fafafa;
  font-weight: 500;
  background-color: transparent;
  padding: 10px 2rem;
}
.head_container .right_container .tab_group button:nth-child(2) {
  margin-left: 10px;
}
.head_container .right_container .tab_group .activate {
  border-radius: 30px;
  background-color: #caff33;
  color: #191919;
}

[data-tab-content] {
  display: none;
}

.active_tab[data-tab-content] {
  display: block;
}

[data-featured-content] {
  display: none !important;
}

.active_tab[data-featured-content] {
  display: grid !important;
}

[data-testimonial-content] {
  display: none;
}

.active_tab[data-testimonial-content] {
  display: flex;
}

:root {
  --swiper-pagination-color: #caff33;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: #262626;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

header .hero_container {
  width: 100%;
  height: 100%;
  min-height: 110vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hero_container .left_container {
  width: 55%;
}
header .hero_container .left_container .primary_text {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid rgba(197, 197, 197, 0.1);
  border-radius: 30px;
  padding: 6px 1rem;
  background-color: #262626;
}
header .hero_container .left_container .primary_text img {
  width: 25px;
  margin-right: 10px;
}
header .hero_container .left_container .primary_text span {
  font-size: 0.8rem;
}
header .hero_container .right_container {
  width: 40%;
}
header .hero_container .right_container img {
  width: 100%;
}
@media (max-width: 800px) {
  header .hero_container {
    flex-direction: column;
    justify-content: center;
  }
  header .hero_container .left_container {
    width: 100% !important;
    margin-top: 12rem;
  }
  header .hero_container .right_container {
    width: 90% !important;
    margin-top: 4rem;
  }
}

.features_section {
  padding: 2rem 0 !important;
}
.features_section .tab_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .features_section .tab_data {
    justify-content: center;
  }
  .features_section .tab_data .items {
    margin: 0;
    margin-bottom: 2rem !important;
  }
}
.features_section .tab_data .items {
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.features_section .tab_data .items .icon_container {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: 1rem auto;
  border: 1px solid rgba(201, 255, 51, 0.1);
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) -66.22%, rgba(202, 255, 51, 0) 85.46%);
  display: grid;
  place-items: center;
}
.features_section .tab_data .items .icon_container span {
  color: #caff33;
}
.features_section .tab_data .items .icon_container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  z-index: -1;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(202, 255, 51, 0.2) -66.22%, rgba(202, 255, 51, 0) 85.46%);
}
.features_section .tab_data .items h4 {
  margin: 1.6rem 0 0.8rem 0;
  font-weight: 500;
  font-size: 1.2rem;
}
.features_section .tab_data .items:nth-child(1) {
  margin-right: 1rem;
}
.features_section .tab_data .items:nth-child(2) {
  margin: 0 1rem;
}
.features_section .tab_data .items:nth-child(3) {
  margin-left: 1rem;
}
@media (min-width: 800px) {
  .features_section {
    margin-top: -4rem !important;
  }
}
@media (max-width: 800px) {
  .features_section {
    padding-top: 6rem !important;
  }
}

.use_cases_section .use_cases_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2rem;
}
.use_cases_section .use_cases_container .left_container {
  width: 40%;
}
.use_cases_section .use_cases_container .left_container .cases_content {
  width: 100%;
  min-height: 250px;
  background-image: url("../img/Abstract-2.png");
  background-size: 200px;
  background-position: top left;
  background-repeat: no-repeat;
  border: 1px solid rgba(197, 197, 197, 0.1);
  border-radius: 10px;
  background-color: #1c1c1c;
  padding: 2rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.use_cases_section .use_cases_container .left_container .cases_content .items {
  width: 100%;
  height: 100%;
  background-color: #191919;
  text-align: center;
  padding: 2rem;
  border: 1px solid rgba(197, 197, 197, 0.1);
  border-radius: 10px;
}
.use_cases_section .use_cases_container .left_container .cases_content .items h4 {
  margin-top: 1.4rem;
  font-weight: normal;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}
.use_cases_section .use_cases_container .left_container .cases_content .items .icon_container {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: 0rem auto;
  border: 1px solid rgba(201, 255, 51, 0.1);
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) -66.22%, rgba(202, 255, 51, 0) 85.46%);
  display: grid;
  place-items: center;
}
.use_cases_section .use_cases_container .left_container .cases_content .items .icon_container span {
  color: #caff33;
}
.use_cases_section .use_cases_container .left_container .cases_content .items .icon_container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  z-index: -1;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(202, 255, 51, 0.2) -66.22%, rgba(202, 255, 51, 0) 85.46%);
}
.use_cases_section .use_cases_container .right_container {
  width: 53%;
  align-self: center;
}
.use_cases_section .use_cases_container .right_container h4 {
  font-size: 1.4rem;
  font-weight: 500;
}
.use_cases_section .use_cases_container .right_container p {
  margin: 1rem 0;
}
.use_cases_section .use_cases_container .right_container .counter_section {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.use_cases_section .use_cases_container .right_container .counter_section .item {
  width: 150px;
  margin-right: 1rem;
  margin-top: 1rem;
}
.use_cases_section .use_cases_container .right_container .counter_section .item .count {
  font-size: clamp(2rem, 3vw, 3rem);
  color: #caff33;
  font-weight: 500;
  margin-bottom: 10px;
}
.use_cases_section .use_cases_container .right_container .secondary_btn {
  margin-top: 1rem !important;
}
@media (max-width: 600px) {
  .use_cases_section .use_cases_container .right_container .counter_section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .use_cases_section .use_cases_container .right_container .counter_section .item {
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .use_cases_section .use_cases_container .left_container {
    width: 45% !important;
  }
  .use_cases_section .use_cases_container .right_container {
    width: 50% !important;
  }
}
@media (max-width: 800px) {
  .use_cases_section .use_cases_container {
    flex-direction: column;
  }
  .use_cases_section .use_cases_container .left_container {
    width: 100% !important;
  }
  .use_cases_section .use_cases_container .left_container .cases_content {
    padding: 1rem;
  }
  .use_cases_section .use_cases_container .left_container .cases_content .items {
    padding: 1rem 12px;
    padding-top: 1.4rem;
  }
  .use_cases_section .use_cases_container .right_container {
    width: 100% !important;
    margin-top: 2rem;
    text-align: center;
  }
}
.use_cases_section .use_cases_container:nth-child(3) {
  flex-direction: row-reverse;
  margin-top: 3rem;
}
.use_cases_section .use_cases_container:nth-child(3) .cases_content {
  background-image: url("../img/Abstract-3.png");
  background-size: 200px;
  background-position: top right;
}
@media (max-width: 800px) {
  .use_cases_section .use_cases_container:nth-child(3) {
    flex-direction: column;
  }
  .use_cases_section .use_cases_container:nth-child(3) .left_container {
    margin-top: 3rem;
  }
}

.featured_section .featured_tab_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.featured_section .featured_tab_container .featured_tabs {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 10px;
  background-color: #1c1c1c;
  margin-right: 1rem;
  row-gap: 1rem;
  padding: 2rem 1.6rem;
}
.featured_section .featured_tab_container .featured_tabs button {
  border: none;
  outline: none;
  background-color: #191919;
  border: 1px solid rgba(197, 197, 197, 0.1);
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
  width: 100%;
  height: 55px;
  font-size: 1rem;
  cursor: pointer;
}
.featured_section .featured_tab_container .featured_tabs .activate {
  color: #191919;
  background-color: #caff33;
}
.featured_section .featured_tab_container .featured_tab_content {
  width: 77%;
  margin-left: 1rem;
}
.featured_section .featured_tab_container .featured_tab_content [data-featured-content] {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 700px) {
  .featured_section .featured_tab_container .featured_tab_content [data-featured-content] {
    grid-template-columns: 1fr !important;
  }
  .featured_section .featured_tab_container .featured_tab_content [data-featured-content] .items {
    padding: 2rem 1rem !important;
  }
}
.featured_section .featured_tab_container .featured_tab_content [data-featured-content] .items {
  background-color: #1c1c1c;
  padding: 2rem;
  border-radius: 10px;
}
.featured_section .featured_tab_container .featured_tab_content [data-featured-content] .items .item_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
}
.featured_section .featured_tab_container .featured_tab_content [data-featured-content] .items .item_head h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
.featured_section .featured_tab_container .featured_tab_content [data-featured-content] .items .item_head span {
  color: #caff33;
}
@media (max-width: 1100px) {
  .featured_section .featured_tab_container .featured_tabs {
    width: 25% !important;
  }
  .featured_section .featured_tab_container .featured_tab_content {
    width: 75% !important;
  }
}
@media (max-width: 950px) {
  .featured_section .featured_tab_container .featured_tabs {
    width: 30% !important;
  }
  .featured_section .featured_tab_container .featured_tab_content {
    width: 70% !important;
  }
}
@media (max-width: 800px) {
  .featured_section .featured_tab_container {
    flex-direction: column;
    justify-content: center;
  }
  .featured_section .featured_tab_container .featured_tabs {
    width: 100% !important;
    margin: 0 !important;
  }
  .featured_section .featured_tab_container .featured_tab_content {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 3rem !important;
  }
}

.faq_section .faq_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 2rem;
}
@media (max-width: 700px) {
  .faq_section .faq_container {
    grid-template-columns: 1fr;
  }
}
.faq_section .faq_container .items {
  border: 1px solid rgba(197, 197, 197, 0.1);
  padding: 2rem;
  border-radius: 10px;
  background-color: #1c1c1c;
}
.faq_section .faq_container .items h3 {
  font-size: 1.1rem;
  font-weight: 500;
}
.faq_section .faq_container .items hr {
  border: 1px solid rgba(197, 197, 197, 0.1);
  margin: 1.4rem 0;
}
.faq_section .more_faq_container {
  position: relative;
}
.faq_section .more_faq_container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  z-index: -1;
  background-color: rgba(197, 197, 197, 0.2);
}
.faq_section .more_faq_container button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 2rem;
}
.faq_section .more_faq_container button .hide {
  display: none;
}
.faq_section .more_faq_container button span {
  margin-top: 3px;
  margin-left: 5px;
}
.faq_section [data-faq-extra] {
  display: none;
}
.faq_section .active[data-faq-extra] {
  display: block;
}

.testimonial_section .testimonials_container .mySwiper {
  padding: 0 2rem;
  margin-top: 3rem;
  padding-bottom: 2rem;
}
.testimonial_section .testimonials_container .mySwiper .swiper-button-next::after, .testimonial_section .testimonials_container .mySwiper .swiper-button-prev::after {
  content: "";
}
.testimonial_section .testimonials_container .mySwiper .swiper-button-next {
  background-image: url("../img/next.png");
}
.testimonial_section .testimonials_container .mySwiper .swiper-button-prev {
  background-image: url("../img/prev.png");
}
@media (max-width: 640px) {
  .testimonial_section .testimonials_container .mySwiper {
    padding: 0 !important;
    padding-bottom: 5rem !important;
  }
  .testimonial_section .testimonials_container .mySwiper .swiper-button-next, .testimonial_section .testimonials_container .mySwiper .swiper-button-prev {
    position: absolute;
    top: 90%;
  }
  .testimonial_section .testimonials_container .mySwiper .swiper-button-next {
    right: 30%;
  }
  .testimonial_section .testimonials_container .mySwiper .swiper-button-prev {
    left: 30%;
  }
  .testimonial_section .testimonials_container .mySwiper .swiper-pagination {
    display: none !important;
  }
}
.testimonial_section .testimonials_container .mySwiper .swiper-button-next, .testimonial_section .testimonials_container .mySwiper .swiper-button-prev {
  width: 50px;
  height: 50px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(197, 197, 197, 0.1);
  border-radius: 50%;
  background-color: #262626;
}
.testimonial_section .testimonials_container .swiper-slide {
  border: 1px solid rgba(197, 197, 197, 0.1);
  border-radius: 10px;
  background-color: #1c1c1c;
  text-align: center;
  padding: 2rem 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.testimonial_section .testimonials_container .swiper-slide .img_container {
  text-align: center;
  margin-bottom: 1rem;
}
.testimonial_section .testimonials_container .swiper-slide .img_container img {
  width: 60px;
}
.testimonial_section .testimonials_container .swiper-slide h4 {
  font-weight: 500;
  font-size: 1.1rem;
  color: #caff33;
}
.testimonial_section .testimonials_container .swiper-pagination {
  top: 94%;
}/*# sourceMappingURL=style.css.map */